01-C-Programlama-Dili.pptx
02-Veri-Tipleri-ve-Değişkenler.pptx
03-Operatörler.pptx
04-Kontrol-İfadeleri.pptx
05-Fonksiyonlar.pptx
06-Struct-Union-Enum-Typedef.pptx
07-Diziler.pptx
08-Pointer.pptx
09-Konsol-Giriş-Çıkış-Fonksiyonları.pptx
10-Dosyalama.pptx
11-Konsol-ve-Komut-Satırı.pptx
12-Derleyici-Direktifleri.pptx
remove_all_files.bat